body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
}

.background {
    display: block;
    position: relative;
    
}

.background::after {
    content: "";
    background-image: url("../images/forest_wallpaper.jpg");
    background-repeat: repeat-y;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem;
    background-color: #a1eb97;
    z-index: 100000000;
}

nav li {
    display: inline;
    margin_right: 1rem;
}

.slideshow-container {
    max-width: 600px;
    max-height: 400px;
    margin: 5rem;
}

.slides {
    width: 600px;
    height: 400px;
    object-fit: cover;
    display: none;
    border-radius: 3rem;
}

.footer {
    flex-shrink: 0;
}
